{
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.draggable-balls-outer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;


    height: 100%;
    padding: 10px 1px;
    margin: 10px 1px;
    display: inline-flex;
    width: auto;
    border: 1px solid blue;
}
.draggable-balls {
    width: 360px;
    height: 220px;
}
.draggable-balls-ball {
    position: absolute;
    width: 30px;
    height: 30px;
}
.draggable-balls-container {
    position: absolute;
    border: 1px solid black;
    width: 30px;
    height: 30px;
}

.eval-container {
    width: 360px;
    height: 220px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /*height:100%;*/
    /*width: auto;*/
    border: 1px solid blue;
}

.eval-arg {
    padding: 10px 1px;
    margin: 10px 1px;
    /*height:100%;*/
    /*width: auto;*/
    border: 1px solid blue;
    /*position: absolute;*/
    width: 50px;
    height: 50px;
}

.arg{
    background-color: tomato;
    width: 30px;
    height: 30px;
    margin: 10px;
    position: absolute;
}