{
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.eval-container {
    width: 360px;
    height: 220px;
    display: inline-flex;
    align-items: center;
    box-shadow: 1px 0px 5px 2px rgba(0,0,0,0.5);
}

.swapButton:hover {
    color: black;
}

.swapButton {
    color: rgba(34, 34, 34, 0.43);
}

.controls {
    justify-content: center;
    align-items: center;
    display: flex;
}
.left-arrow {
    margin-right: 50px
}
.right-arrow {
    margin-left: 50px
}
.full-computation {
    /*height: 200px;*/
}

.eval-arg {
    padding: 10px 1px;
    width: inherit;
    height: 70%;
    justify-content: initial;
    box-shadow: 1px 0px 5px 2px rgba(0,0,0,0.5);
    display: inline-flex;
    align-items: center;
    -webkit-box-align: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arg{
    background-color: tomato;
    width: 30px;
    height: 30px;
    margin: 10px;
    box-shadow: 1px 0px 5px 2px rgba(0,0,0,0.5);
}