{
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.eval-container {
    width: 360px;
    height: 220px;
    display: inline-flex;
    align-items: center;
    /*justify-content: center;*/
    /*height:100%;*/
    /*width: auto;*/
    border: 1px solid blue;
}

.eval-arg {
    padding: 10px 1px;
    /*height:100%;*/
    /*width: auto;*/
    border: 1px solid blue;
    /*position: absolute;*/
    width: 80%;
    height: 50%;
    /*margin: 10px 50px;*/
    justify-content: initial;
}

.arg{
    background-color: tomato;
    width: 30px;
    height: 30px;
    margin: 10px;
    /*position: absolute;*/
}